<% if (title) { %> <% } else { res.redirect('/') } %> <%- messages() %>

<div class="red">
  <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>

  <% } %>
</div>
<h1><%= title  %></h1>


    
  <% if ((locals.accountData.account_type == 'Client') ) { %>
    <h2>Welcome Basic, <%- locals.accountData.account_firstname %></h2>
    <p><a href="/account/update/<%- locals.accountData.account_id %>" title="manage Account">Edit account info</a></p> 
  <% } 
  if (locals.accountData.account_type == 'Employee' || locals.accountData.account_type == 'Admin'){ %>
    <h2>Welcome , <%- locals.accountData.account_firstname %></h2>
    <p><a href="/account/update/<%- locals.accountData.account_id %>" title="manage Account">Edit account info</a></p> 
    <h3>Manage Inventory</h3>
    <p><a href="/inv/" title="manage inventory">Inventory Manage </a></p> 
    
    
  <% } %>
    



