<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="background">
    <div class="color-body">

    <div id="wrapper">
      <%- include('../partials/header') %> 
      <%-include('../partials/navigation')%>
      <main>
        <%- body %>
      </main>
      <%- include('../partials/footer') %>
    </div>
  </div>

  </body>
  
</html>
