<div class="ctn-form">
  <form class="form-login" action="" method="post">
    <h1 class="title-login"><%= title %></h1>
    <label for="">Classfication:</label>
    <select name="" id="">
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
    </select>

    <label for="">Make:</label>
    <input
      id=""
      class="ipt-password"
      required
      name=""
      size="40"
      placeholder=""
      type="text"
      value="<%=  %>"
    />

    <label for="">Make:</label>
    <input
      id=""
      class="ipt-password"
      required
      name=""
      size="40"
      placeholder=""
      type="text"
      value="<%=  %>"
    />

    <label for="">Description:</label>
    <input
      id=""
      class="ipt-password"
      required
      name=""
      size="40"
      placeholder=""
      type="text"
      value="<%=  %>"
    />
    <label for="">Image Path:</label>
    <input
      id=""
      class="ipt-password"
      required
      name=""
      size="40"
      placeholder=""
      type="text"
      value="<%=  %>"
    />

    <label for="">Price:</label>
    <input
      id=""
      class="ipt-password"
      required
      name=""
      size="20"
      placeholder=""
      type="text"
      value="<%=  %>"
    />
    <label for="">Year:</label>
    <input
      id=""
      class="ipt-password"
      required
      name=""
      size="20"
      placeholder=""
      type="text"
      value="<%=  %>"
    />
    <label for="">Miles:</label>
    <input
      id=""
      class="ipt-password"
      required
      name=""
      size="20"
      placeholder=""
      type="number"
      value="<%=  %>"
    />
    <label for="">Color:</label>
    <input
      id=""
      class="ipt-password"
      required
      name=""
      size="20"
      placeholder=""
      type="text"
      value="<%=  %>"
    />
    <div class="btn-ctn">
      <button class="btn-login" type="submit">Add Vehicle</button>
    </div>

    <h4 class="title-login">
      Do you have account? <a class="sign-up" href="/account/login">Login</a>
    </h4>
  </form>
</div>
