<% if (title) { %> <% } else { res.redirect('/') } %> <%- messages() %>

<div class="red">
  <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>

  <% } %>
</div>



<% for (let i = 0; i < classification_name.length; i++) { %>
  <p><%= classification_name[i].classification_name %></p>
<% } %>


<div class="ctn-form">
  <form class="form-login" action="/inventory/add-inventory" method="post">
    <h1 class="title-login"><%= title %></h1>
    <label for="classification_id">Classfication:</label>
    <select name="classification_id" id="classification_id">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="75">75</option>

    </select>

    <label for="inv_make">Make:</label>
    <input
      id="inv_make"
      class="ipt-password"
      required
      name="inv_make"
      size="40"
      placeholder="Make"
      type="text"
      value="<%= locals.inv_make %>"
    />

    <label for="inv_model">Make:</label>
    <input
      id="inv_model"
      class="ipt-password"
      required
      name="inv_model"
      size="40"
      placeholder="Model"
      type="text"
      value="<%=  locals.inv_model  %>"
    />

    <label for="inv_description">Description:</label>
    <input
      id="inv_description"
      class="ipt-password"
      required
      name="inv_description"
      size="40"
      placeholder="Description"
      type="text"
      value="<%= locals.inv_description  %>"
    />
    <label for="inv_image">Image Path:</label>
    <input
      id="inv_image"
      class="ipt-password"
      required
      name="inv_image"
      size="40"
      placeholder="Image Path"
      type="text"
      value="<%= locals.inv_image  %>"
    />
    <label for="inv_thumbnail">inv thumbnall:</label>
    <input
      id="inv_thumbnail"
      class="ipt-password"
      required
      name="inv_thumbnail"
      size="40"
      placeholder="Image Path"
      type="text"
      value="<%= locals.inv_thumbnail  %>"
    />

    <label for="inv_price">Price:</label>
    <input
      id="inv_price"
      class="ipt-password"
      required
      name="inv_price"
      placeholder="Price"
      type="number"
      value="<%= locals.inv_price  %>"
    />
    <label for="inv_year">Year:</label>
    <input
      id="inv_year"
      class="ipt-password"
      required
      name="inv_year"
      placeholder="Year"
      type="number"
      value="<%= locals.inv_year  %>"

    />
    <label for="inv_miles">Miles:</label>
    <input
      id="inv_miles"
      class="ipt-password"
      required
      name="inv_miles"
      placeholder="Miles"
      type="number"
      value="<%= locals.inv_miles  %>"

    />
    <label for="inv_color">Color:</label>
    <input
      id="inv_color"
      class="ipt-password"
      required
      name="inv_color"
      size="20"
      placeholder="Color"
      type="text"
      value="<%= locals.inv_color  %>"

    />
    <div class="btn-ctn">
      <button class="btn-login" type="submit">Add Vehicle</button>
    </div>
  </form>
</div>


