<% if (title) { %>
    <h1 class="title-login"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
    <%- messages() %>
    <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>
  
    <div class="ctn-form">
        <form id="regForm" class="form-login" action="/inv/delete" method="post">

            <input type="hidden" name="inv_id" value="<%= locals.inv_id %>" >
  
              <label>Make:</label>
              <input placeholder="Make" type="text" name="inv_make" value="<%= locals.inv_make %>" readonly >

  
              <label>Model:</label>
              <input placeholder="Model" type="text" name="inv_model" value="<%= locals.inv_model %>" readonly >

  
              <label>Year:</label>
              <input placeholder="Year" type="number" name="inv_year" value="<%= locals.inv_year %>" readonly >

              <label>Price:</label>
              <input placeholder="Price" type="number" name="inv_price" value="<%= locals.inv_price %>" readonly >

              <div class="ctn-delete">
                <a href="javascript:history.back()">
                  <button class="btn-cancel" id="historyBack" type="button" name="cancel">Cancelar</button>
                  </a>
                <button class="btn-login" id="submitButton" type="submit" name="submit" >Delete</button>
              </div>
            <p class="title-login">Confirm Deletion - The delete is permanent.</p>
        </form>
      </div>
      <noscript>JavaScript must be enabled to use this page.</noscript>
      <script src="../../js/inv-update.js"></script>