<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="ctn-form">
  <form id="updateForm" class="form-login" action="/inv/update" method="post">
    <h1 class="title-login"><%= title %></h1>

    <label>
      <span>Classification</span><span class="required">*</span>
      <% if(classificationSelect) { %> <%- classificationSelect %> <% } %>
    </label>

    <label for="inv_make">Make:</label>
    <input
      class="ipt-password"
      type="text"
      name="inv_make"
      required
      size="40"
      value="<%= locals.inv_make %>"
      pattern="[A-Za-z ]{3,20}"
    />

    <label for="inv_model">
     Modelo
    </label>
    <input
    type="text"
    name="inv_model"
    class="ipt-password"
    size="40"
    required
    value="<%= locals.inv_model %>"
    pattern="[A-Za-z ]{3,20}"
  />
    <label for="inv_description">Description </label>
      <input
        size="40"
        type="text"
        name="inv_description"
        class="ipt-password"
        required
        value="<%= locals.inv_description %>" 
      />
    <label for="inv_image" >Image </label>
      <input
      class="ipt-password"
        type="text"
        name="inv_image"
        size="40"
        required
        value="<%= locals.inv_image %>"
      />
    <label for="inv_thumbnail">Thumbnail</label>
      <input
        type="text"
      class="ipt-password"
        name="inv_thumbnail"
        size="40"
        required
        value="<%= locals.inv_thumbnail %>"
      />
    <label for="inv_price">Price:</label>
      <input
        type="number"
        name="inv_price"
      class="ipt-password"
        required
        size="40"
        value="<%= locals.inv_price %>"
        pattern="\d{4,6}"
      />
    
    <label for="inv_year">Year</label>
      <input
        type="number"
        name="inv_year"
        size="40"
      class="ipt-password"
        required
        value="<%= locals.inv_year %>"
        pattern="19[\d]{2}|20\d{2}"
      />
    
    <label for="inv_miles">Milage </label>
      <input
        type="number"
        name="inv_miles"
      class="ipt-password"
        required
        size="40"
        value="<%= locals.inv_miles %>"
        pattern="\d{1,6}"
      />
   

    <label for="inv_color"> Color: </label>
      <input
        type="text"
        name="inv_color"
        required
        size="40"
      class="ipt-password"

        value="<%= locals.inv_color %>"
        pattern=".{3,100}"
      />
   
      <div class="btn-ctn">

    <button
      id="updateForm"
      type="submit"
      name="submit"
      class="btn-login" 
    >Vehicle Update </button>






    </div>
    <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
  </form>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>


<script src="../../js/inv-update.js"></script>
